Tuples: allow us to store values in a sequence. It is useful where we can share data with others but not allow them to manipulate the data.

Agenda:
* initialize tuple
* tuple vs list
* tuple operations
* built-in functions with tuples
* assign multiple values at once to tuples

**Python Tuple**

Tuple can store a sequence of items that is immutable and ordered.

In [1]:
#create tuple
cake = ('c','a','k','e')
print(type(cake))

<class 'tuple'>

Tuples can hold both homogeneous and heterogeneous values.

Once declared those values, you cannot change them:

In [2]:
mix_type = ('c',0,0,'k','i','e')
for i in mix_type:
    print(i,":",type(i))

c : <class 'str'>
0 : <class 'int'>
0 : <class 'int'>
k : <class 'str'>
i : <class 'str'>
e : <class 'str'>

In [4]:
#try to change 0 to 'o'
#mix_type[1] = 'o'

In [5]:
#another way of create tuple
numbers_tuple = 1,2,3
print(type(numbers_tuple))

<class 'tuple'>

**Tuple vs Lists**

Tuples are immutable lists. Once a tuple is created, you cannot delete or change the values of the items stored in it. You cannot add new values either.

In [7]:
numbers_tuple = (1,2,3)
numbers_list = [1,2,3]

#append a number to the tuple
#numbers_tuple.append(6)

#append a number to the list
numbers_list.append(6)
print(numbers_list)

[1, 2, 3, 6]

Why tuples if they are immutable?

They provide "read_only" access to the data values, and faster than lists.

In [8]:
import timeit
timeit.timeit('x=(1,2,3,4)',number=100000)

0.0020100080873817205

In [9]:
timeit.timeit('x=[1,2,3,4]',number=100000)

0.007608679938130081

what does immutable mean to tuples?

Python documentation: immutable is 'an object with a fixed value'. 'Value' is actually 'id': the identity of the location of an object in memory.

In [10]:
#create a tuple with list as one of its item
n_tuple = (1,1,[3,4])

#items with the same value have the same id
id(n_tuple[0]) == id(n_tuple[1])

True

In [11]:
#items with different value have different id
id(n_tuple[0]) == id(n_tuple[2])

False

In [12]:
#we cannot appedn item to a tuple, but we can do:
n_tuple[2].append(5)
n_tuple

(1, 1, [3, 4, 5])

still immutable? yes, because the id of the list within the tuple still remains the same even though append 5 to it.

**Common tuple operations**

Tuple Slicing

In [13]:
numbers = (0,1,2,3,4)
numbers[0]

0

In [14]:
numbers[1:4]

(1, 2, 3)

In [15]:
#increment = 2
numbers[::2]

(0, 2, 4)

In [16]:
#use negative increment value to reverse tuple
numbers[::-1]

(4, 3, 2, 1, 0)

Tuple Addition

In [17]:
x = (1,2,3)
y = (5,6,7)
z = x + y
print(z)

(1, 2, 3, 5, 6, 7)

In [18]:
#you can only add or combine same data types
y = [4,5,6]
#z = x + y

Tuple Multiplication

In [20]:
#repetition of tuple
x = (1,2,3,4)
z = x*2
print(z)

(1, 2, 3, 4, 1, 2, 3, 4)

**Tuple Functions**

In [22]:
a = (1,2,3,4,4)
a.count(4)
#returns the number of occurrences

2

In [23]:
print(len(a))

5

In [24]:
#check any element of a tuple is iterable
a = (1,)
print(any(a))

True

In [25]:
b = ()
print(any(b))

False

In [26]:
#convert a data type to tuple
a_list = [1,2,3]
b_tuple = tuple(a_list)
print(type(b_tuple))

<class 'tuple'>

In [27]:
#return min, max
print(max(a))
print(min(a))

1
1

In [28]:
#string is automatically converted into char
a = ('apple')
print(max(a))

p

In [30]:
a = (6,4,1,3)
sorted(a)

[1, 3, 4, 6]

**Assigning multiple values**

In [31]:
a = (1,2,3)
(one,two,three) = a
print(one)

1

reference: https://www.datacamp.com/community/tutorials/python-tuples-tutorial